@import "variables";
@import "maps";
@import "extend";
@import "mixin";


body{
    background-color:rgb(238, 228, 228);
}

.formulario{
    align-content: center;
    margin: 2rem;
    padding: 1rem;

    h1{
        color: rgb(133, 6, 6);
        text-align: center;
        margin: 1rem;

    }
    h3{
        color: $colorprincipalgradiente;
        align-content: center;
        margin: 1rem;
        font-size: 18px;

    }

    label{
        font-size: 20px;
        color: rgb(122, 1, 1);
    }
    input{
        border-radius: 12px;
        background-color: rgb(245, 237, 237);
        color: $colorprincipalgradiente;
    }

    button{
        align-content: center;
        width: 90%;
        p{
            font-size: 20px;
            margin: 3px;
            padding: 2px;
        }
            &:hover{
                background-color: rgb(240, 41, 41);
                
            }
    }
}

@media (max-width:560px){
    .formulario{
        width: 90vw;
        h1{
            font-size: 18px;
        }
        h3{
            font-size: 12px;
        }

        input{
            width: 80%;
        }
        textarea{
            width: 80%;
            height: 200px;
        }
    }

    
}